<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Адрес
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li [class.active]="activeTab==item" *ngFor="let item of tabs;"><a (click)="setActiveLink(item)">{{item.title}}<tab-badge [(value)]="item.count"></tab-badge></a></li>
        </ul>
        <div class="tab-content">
            
            <div *ngFor="let item of tabs;" class="tab-pane" [class.active]="activeTab==item">
                <div [ngSwitch]="item.type">
                    
                    <app-address-detail [(id)]="id" 
                        (onLoaded)="handleLoaded($event)" 
                        (onCanceled)="handleCanceled($event, item)" 
                        (onUpdated)="handleUpdated($event, item)" 
                        (onDeleted)="handleDeleted($event, item)"
                        *ngSwitchCase="'app-address-detail'"></app-address-detail>
                </div>
            </div>

        </div>
    </div>
</section><!-- /.content -->