<!-- form start -->
<form role="form">
    <div class="box-body">
        <div class="form-group">
            <label for="name">Наименование</label>
            <input type="name" class="form-control" name="name" [(ngModel)]="data.name">
        </div>
        <div class="form-group">
            <label for="name">Номер</label>
            <input type="text" class="form-control" name="number" [(ngModel)]="data.number">
        </div>
        <div class="form-group">
            <label for="name">Дата</label>
            <input type="date" class="form-control" name="date" #myDate [value]="data.date | date:'yyyy-MM-dd'" (input)="data.endDate=parseDate($event.target.value)" />
        </div>
        <div class="form-group">
            <label for="name">Дата начала</label>
            <input type="date" class="form-control" name="startDate" #myDate [value]="data.startDate | date:'yyyy-MM-dd'" (input)="data.endDate=parseDate($event.target.value)" />
        </div>
        <div class="form-group">
            <label for="name">Дата дата завершения</label>
            <input type="date" class="form-control" name="endDate" #myDate [value]="data.endDate | date:'yyyy-MM-dd'" (input)="data.endDate=parseDate($event.target.value)" />
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="button" class="btn btn-default btn-icon-cancel btn-sm btn-flat" (click)="onClickBack()">Отменить и закрыть</button>
        <button type="button" class="btn btn-danger btn-icon-delete btn-sm btn-flat" (click)="onDelete()">Удалить</button>

        <button type="button" class="btn btn-info btn-icon-save btn-sm btn-flat" (click)="onUpdate()">Сохранить</button>
    </div>
</form>
<!-- /.form -->