<!-- form start -->
<form role="form">
    <div class="box-body">
 
        <div class="form-group">
            <div class="form-group">                        
                <label for="channel">Канал</label>
            </div>
            <div class="form-group">
                <label for="startDate">Дата подачи заявки</label>
                <input type="datetime-local" class="form-control" name="startDate" [(ngModel)]="data.startDate">
            </div>
            <div class="form-group">
                <label for="client">Клиент</label>
                <app-customer-select [(value)]="data.clientId" (change)="data.clientId = $event.target.value"></app-customer-select>
            </div>
            <div class="form-group">
                <label for="address">Адрес</label>
                <app-address-select [(value)]="data.addressId" [(referenceId)]="data.clientId" (change)="data.addressId = $event.target.value"></app-address-select>
            </div>
            <div class="form-group">
                <label for="user">Заявитель</label>
                <app-user-select [(value)]="data.applicantId" [(referenceId)]="data.clientId" (change)="data.applicantId = $event.target.value"></app-user-select>
            </div>
            <div class="form-group">
                <label for="service">Услуга</label>
                <app-service-select [(value)]="data.serviceId" (change)="data.serviceId = $event.target.value"></app-service-select>
            </div>
                <div class="form-group">
                <label for="contract">Договор на оказание услуг</label>
            </div>     
            <div class="form-group">
                <label for="company">Линия ответственного</label>              
            </div>
            <div class="form-group">
                <label for="operator">Назначенное лицо</label>              
            </div>
            <div class="form-group">
                <label for="priority">Приоритет по заявке</label>
                <app-ticket-priority-select [(value)]="data.priorityId" (change)="data.priorityId = $event.target.value"> </app-ticket-priority-select>
            </div>

            <div class="form-group">
                <label for="description">Описание</label>
                <textarea class="form-control" rows="3" [(ngModel)]="data.description" name="description" placeholder="Опишите проблему ..." required></textarea>
            </div>
        </div>      
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <button type="button" class="btn btn-default btn-icon-cancel btn-sm btn-flat" (click)="onClickBack()">Отменить и закрыть</button>
        <button type="button" class="btn btn-info btn-icon-save btn-sm btn-flat" (click)="onUpdate()">Сохранить</button>
    </div>
    <!-- /.box-footer -->
</form>
<!-- /.form -->