<div class="box">
  
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tr>
        <th width="20px"></th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
      </tr>
      <tr *ngFor="let item of data; trackBy: trackById">
        <td><input type="checkbox" #chek (change)="item['selected'] = chek.checked"></td>
        <td>{{item.user.lastName}}</td>
        <td>{{item.user.firstName}}</td>
        <td>{{item.user.middleName}}</td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  
  <div *ngIf="data" class="box-footer clearfix">
    Записей: {{data.length}} из {{count}} 
    
    <!--
    <ul class="pagination pagination-sm no-margin pull-right">
        <li [ngClass]="{disabled:pager.currentPage === 1}"><a (click)="setPage(pager.currentPage - 1)">&laquo;</a></li>
        <li [ngClass]="{active:pager.currentPage === page}" *ngFor="let page of pager.pages"><a (click)="setPage(page)">{{page}}</a></li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"><a (click)="setPage(pager.currentPage + 1)">&raquo;</a></li>
    </ul>
    -->
  </div>
  
  <div *ngIf="!data" class="box-footer clearfix">
    Записи не найдены
  </div>
  <!-- /.box-footer -->

  <div *ngIf="isLoading" class="overlay">
      <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
<!-- /.box -->