<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Подразделение
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li [class.active]="activeTab==item" *ngFor="let item of tabs;"><a (click)="setActiveLink(item)">{{item.title}}<tab-badge [(value)]="item.count"></tab-badge></a></li>
        </ul>
        <div class="tab-content">
            
            <div *ngFor="let item of tabs;" class="tab-pane" [class.active]="activeTab==item">
                <div [ngSwitch]="item.type">
                    
                    <div *ngSwitchCase="'app-unit-user-list'">
                        <div class="box-header">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-sm btn-flat" (click)="item.removeSelected.next()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-info btn-icon-add btn-sm btn-flat" (click)="item.refresh.next()"><i class="fa fa-refresh" aria-hidden="true"></i> Обновить</button>
                                <button type="button" class="btn btn-info btn-icon-add btn-sm btn-flat" (click)="onCreateTab('app-unit-user-create', 'Включить сотрудника')"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</button>
                            </div>
                        </div>
                        <app-unit-user-list
                            [(unitId)]="id" 
                            [(onRefresh)]="item.refresh" 
                            [(onRemoveSelected)]="item.removeSelected" 
                            [(count)]="item.count"
                            (onSelect)="handleUnitUserSelected($event)"></app-unit-user-list>
                    </div>

                    <app-unit-detail [(id)]="id" 
                        (onLoaded)="handleLoaded($event)" 
                        (onCanceled)="handleCanceled($event, item)" 
                        (onUpdated)="handleUpdated($event, item)" 
                        (onDeleted)="handleDeleted($event, item)"
                        *ngSwitchCase="'app-unit-detail'"></app-unit-detail>

                    <app-unit-user-create
                        [(unitId)]="id" 
                        (onCanceled)="handleCanceled($event, item)" 
                        (onUpdated)="handleUpdated($event, item)"
                        *ngSwitchCase="'app-unit-user-create'"></app-unit-user-create>
                </div>
            </div>

        </div>
    </div>
</section><!-- /.content -->