<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Услуги
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li [class.active]="activeTab==item" *ngFor="let item of tabs;"><a (click)="setActiveLink(item)">{{item.title}}<tab-badge [(value)]="item.count"></tab-badge></a></li>
        </ul>
        <div class="tab-content">
            
            <div *ngFor="let item of tabs;" class="tab-pane" [class.active]="activeTab==item">
                <div [ngSwitch]="item.type">
                    
                    <div *ngSwitchCase="'app-service-list'">
                        <div class="box-header">
                            <button type="button" class="btn btn-info btn-icon-add btn-sm btn-flat" (click)="item.refresh.next()"><i class="fa fa-refresh" aria-hidden="true"></i> Обновить</button>
                            <button type="button" class="btn btn-info btn-icon-add btn-sm btn-flat" (click)="onCreateTab('app-service-create', 'Новый сервис')"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</button>
                        </div>
                        <app-service-list
                            [(onRefresh)]="item.refresh" 
                            [(count)]="item.count"
                            (onSelect)="handleCustomerSelected($event)"></app-service-list>
                    </div>

                    <app-service-create
                        (onCanceled)="handleCanceled($event, item)" 
                        (onUpdated)="handleUpdated($event, item)"
                        *ngSwitchCase="'app-service-create'"></app-service-create>
                </div>
            </div>

        </div>
    </div>
</section><!-- /.content -->