<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    SLA
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li [class.active]="activeTab==item" *ngFor="let item of tabs;"><a (click)="setActiveLink(item)">{{item.title}}<tab-badge [(value)]="item.count"></tab-badge></a></li>
        </ul>
        <div class="tab-content">
            
            <div *ngFor="let item of tabs;" class="tab-pane" [class.active]="activeTab==item">
                <div [ngSwitch]="item.type">
                    
                    <div *ngSwitchCase="'app-ticket-priority-list'">
                        <div class="box-header">
                            <button type="button" class="btn btn-info btn-icon-add btn-sm btn-flat" (click)="item.refresh.next()"><i class="fa fa-refresh" aria-hidden="true"></i> Обновить</button>
                            <button type="button" class="btn btn-info btn-icon-add btn-sm btn-flat" (click)="onCreateTab('app-ticket-priority-create', 'Новый SLA')"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</button>
                        </div>
                        <app-ticket-priority-list
                            [(onRefresh)]="item.refresh" 
                            [(count)]="item.count"
                            (onSelect)="onCreateTab('app-ticket-priority-detail', 'SLA: ' + $event.name, $event.id)"></app-ticket-priority-list>
                    </div>

                    <app-ticket-priority-create
                        (onCanceled)="handleCanceled($event, item)" 
                        (onUpdated)="handleUpdated($event, item)"
                        *ngSwitchCase="'app-ticket-priority-create'"></app-ticket-priority-create>

                    <app-ticket-priority-detail [(id)]="item.id" 
                        (onCanceled)="handleCanceled($event, item)" 
                        (onUpdated)="handleUpdated($event, item)"
                        *ngSwitchCase="'app-ticket-priority-detail'"></app-ticket-priority-detail>
                </div>
            </div>

        </div>
    </div>
</section><!-- /.content -->